<h1 class="center-container"> Material Matters Team </h1>
<p><%= link_to "Home", root_path %></p>
<div class="team-container">
  <% @teams.each do |team| %>
    <div class="team-member">
      <div class="team-image">
        <%= cl_image_tag("samples/people/bicycle.jpg") %>
      </div>
      <p><%= link_to "#{team.name}", team_path(team) %></p>
    </div>
  <% end %>
</div>
<div class="center-container">
  <% if policy(Team).new? %>
  <%= link_to "New Member", new_team_path %>
  <% end %>
</div>
