<h1> Our Team </h1>
<p><%= link_to "Home", root_path %></p>
<ol>
  <% @teams.each do |team| %>
  <li><%= link_to "#{team.name}", team_path(team) %></li>
  <% end %>
</ol>

<% if policy(Team).new? %>
<%= link_to "New Member", new_team_path %>
<% end %>
