<h1> See our blogs by our experts </h1>
<p><%= link_to "Home", root_path %></p>
<ol>
  <% @blogs.each do |blog| %>
  <li><%= link_to "#{blog.title}", blog_path(blog) %></li>
  <% end %>
</ol>

<p>Have an interesting story? Email us at...</p>

<% if policy(Blog).new? %>
<%= link_to "New Blog", new_blog_path %>
<% end %>
