body {
  background-color: white;
}

.banner-photo {
  img {
    width: 23vw;
    height: 20vh;
  }
  margin-bottom: 5vh;
}

.banner-title-container {
  display: flex;
  justify-content: space-between;
}

.banner-title {
  margin-bottom: 8vh;
  font-size: 50px;
}

.content {
  a {
    text-decoration: none;
  }
  h2 {
    color: white;
    text-decoration: none;
  }
  p {
    color: white;
    text-decoration: none;
  }
}

.d_card {
  a {
    text-decoration: none;
  }
}

.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10vh;
}

.log-out-button {
  a {
    color: black;
  }
}

.log-out-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}


.option {
  a {
    color: black;
  }
}

.options-container {
  display: flex;
  justify-content: space-between;
}



@media only screen and (max-width: 600px) {
  .banner-photo {
    img {
      width: 67vw;
      height: 20vh;
    }
  }
}
