<h1>Get involved with our Events below</h1>
<p>For more information get in contact with us here. info@materialmatters.co.uk </p>
<p><%= link_to "Home", root_path %></p>
<ol>
  <% @gatherings.each do |gathering| %>
  <li><%= link_to "#{gathering.title}", gathering_path(gathering) %></li>
  <% end %>
</ol>

<%= link_to "New Event", new_gathering_path %>

