<h1>Material Matters</h1>
<p>Click here to find out Frankies address, card details, and mothers maiden name.</p>
<p>Click <%= link_to "here", blogs_path %> to see our latest blogs written by our in house experts.</p>
<p></p>
<p>Click <%= link_to "here", gatherings_path %> to see our upcoming events.</p>


<% if current_user %>
  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
<% end %>
