body {
  background-color: white;
}

.blog-index-title {
  font-size: 50px;
}

.blog-title-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.home-container {
  display: flex;
  justify-content: space-around;
}

.action-container {
  display: flex;
  justify-content: space-around;
}

.main-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  a {
    color: white;
  }
  img {
    height: 60vh;
    width: 60vw;
    object-fit: cover;
  }
}


// .card-category {
//   background-size: cover;
//   background-position: center;
//   height: 60vh;
//   width: 60vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
//   transition: 0.5s;
//   img {
//     height: 60vh;
//     width: 60vw;
//   }
// }

.main-blog-index-title {
  width: 50vw;
  position: absolute;
  font-size: 28px;
  transition: 0.5s;
  left: 25%;
  p {
    color: white;
  }
}


.main-blog-index-title:hover {
  font-size: 30px;
 }

 @media only screen and (max-width: 1670px) {
  .card-category {
      width: 65vw;
      height: 50vh;
  }
}

@media only screen and (max-width: 1572px) {
  .card-category {
      width: 67vw;
      height: 52vh;
  }
}

@media only screen and (max-width: 1540px) {
  .card-category {
      width: 69vw;
      height: 44vh;
  }
}


 @media only screen and (max-width: 1390px) {
  .card-category {
      width: 70vw;
      height: 55vh;
  }
}

@media only screen and (max-width: 1120px) {
  .card-category {
      width: 78vw;
      height: 63vh;
  }
}

@media only screen and (max-width: 850px) {
  .card-category {
      width: 85vw;
      height: 70vh;
  }
}

@media only screen and (max-width: 600px) {
  .card-category {
      width: 122vw;
      height: 108vh;
  }
}
