// .blog-photo-one {
//   img {
//     height: 80%;
//     width: 80%;
//     object-fit: cover;
//   }
// }

// .blog-photo-two {
//   img {
//     height: 40%;
//     width: 40%;
//     object-fit: cover;
//   }
// }

.blog-show-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20vw;
  margin-left: 20vw;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    img {
    background-size: cover;
    max-height: 50vh;
    object-fit: cover;
  }
  a {
    color: white;
  }
}


// display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   a {
//     color: white;
//   }

// .blog-show-content {
//   margin-right: 10%;
//   margin-left: 10%;
//   display: flex;
//   justify-content: space-around;
//   text-align: center;
// }


.parent-blog-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// ---------------------------------------
#banner {

}

section > h2{
  text-align: center;
  padding: 1em 0;
  font-size: 2.5em;
}
section > .row {
  display: flex;
  align-item:center;
  justify-content: center;
  margin: 2em;
}

section > .row2 {
  display: flex;
  align-item:center;
  justify-content: left;
  margin: 2em;
}


section > .row > div > img {
  width: 45vw;
  height: 40vh;
}
section > .row > #left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity:0;
  transform: translateY(40px);
  transition: 0.5s all ease-in-out;
}
section > .row > #right {
  opacity:0;
  transform: translateX(140px);
  transition: 0.9s all ease-in-out;
}


section > .row2 > #left2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity:0;
  transform: translateY(40px);
  transition: 0.5s all ease-in-out;
}

section > .row2 > #left2.showLeft2 {
  opacity:1;
  transform: translateY(0px);
}

section > .row2 > #left2 > h2 {
  font-size: 1.8em;
  margin: 0 0 1em 0;
  opacity:0;
}

section > .row2 > #left2 > p {
  font-size: 1.3em;
}


section > .row > #left.showLeft {
  opacity:1;
  transform: translateY(0px);
}
section > .row > #right.showRight {
  opacity:1;
  transform: translateX(0px);
}
section > .row > #left > h2 {
  font-size: 1.8em;
  margin: 0 0 1em 0;
}
section > .row > #left > p {
  font-size: 1.3em;
}

section#empty {
  height: 50vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

footer {
  background: #3c3c3c;
  color:#fff;
  text-align:center;
  padding: 10px;
}
// ---------------------------------------

@media only screen and (max-width: 1390px) {
  .blog-show-container {
    margin-right: 12vw;
    margin-left: 12vw;
  }
}

@media only screen and (max-width: 1299px) {
  .blog-show-container {
    margin-right: 10vw;
    margin-left: 10vw;
  }
}

@media only screen and (max-width: 1120px) {
  .blog-show-container {
    margin-right: 7vw;
    margin-left: 7vw;
  }
}

@media only screen and (max-width: 850px) {
  .blog-show-container {
    margin-right: 3vw;
    margin-left: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  .blog-show-container {
    margin-right: 0vw;
    margin-left: 0vw;
  }
}
