body {
  background-color: white;
}

.blog-index-title {
  font-size: 50px;
}

.blog-title-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.home-container {
  display: flex;
  justify-content: space-around;
}

.action-container {
  display: flex;
  justify-content: space-around;
}

.main-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    height: 60vh;
    width: 60vw;
    object-fit: cover;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
