.fade-in {
  display: flex;
  justify-content: space-around;
  // margin-bottom: -30vh;
  animation: fadeIn ease 1.2s;
  -webkit-animation: fadeIn ease 1.2s;
  -moz-animation: fadeIn ease 1.2s;
  -o-animation: fadeIn ease 1.2s;
  -ms-animation: fadeIn ease 1.2s;
}

.fade-in-1 {
  display: flex;
  justify-content: space-around;
  // margin-bottom: -30vh;
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
