.admin-options {
  a {
    color: black;
    text-shadow: none;
    font-weight: 200;
  }
}

.carousel-indicators li {
  height: 0px
}

iframe {
  width: 53vw;
  height: 45vh;
}

.partner-container {
  display: flex;
  justify-content: space-between;
  margin: 15%;
  margin-top: 4%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.partner-member {
  display: flex;
  justify-content: top;
  flex-direction: column;
  text-align: center;
  margin-top: 9%;
  margin-left: 3%;
  margin-right: 3%;
  a {
    color: black;
  }
}

.partner-show-description {
  margin-top: 60px;
}

.spotlight-img {
  img {
    border-radius: 50%;
  }
}


@media only screen and (max-width: 1210px) {

  .partner-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 860px) {

  .partner-container {
    margin: 8%;
  }
}

@media only screen and (max-width: 625px) {
.partner-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
