.center-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  font-size: 50px;
}

.home-container {
  display: flex;
  justify-content: space-around;
}

.team-container {
  display: flex;
  justify-content: space-between;
  margin: 15%;
  margin-top: 4%;
  margin-bottom: 5%;
}

.team-member {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  a {
    color: black;
  }
}

.team-member-name {
  margin-top: 10px;
  font-size: 20px;
}

.team-image {
  img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  }
}

@media only screen and (max-width: 1075px) {
  .team-container {
    flex-direction: column;
  }
}
